<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037508465814-mju2j85hiurtop05o989rir5s4svn6a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037508465814-mju2j85hiurtop05o989rir5s4svn6a2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037508465814-2pm9ior7tuggg9paim29k6onnof25vqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcZ_mTLCbP4-x6Z2eR_NhVXdxj-EVSc44</string>
	<key>GCM_SENDER_ID</key>
	<string>1037508465814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paalii</string>
	<key>PROJECT_ID</key>
	<string>paalii</string>
	<key>STORAGE_BUCKET</key>
	<string>paalii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037508465814:ios:d37e88cee6451124f59eb7</string>
</dict>
</plist>